* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:orangered;
    border: none;
    color: black;
    cursor: pointer;
}

.slider__button:hover {
    background-color:olive;
    color:white;
    transition: 300ms;
}

.img_slaid {
    display: none;
}
