.main-wraper{
    background-color: #c2c7d1;
    height: 672px;
  
}

.main-content{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}
.item-main{
    margin-top: 120px;
   
}
.main-item h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.main-item p{
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #737B7D;
}
.main-btn{
    margin-top: 70px;
}