.wraper h1{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.10000000149011612px;
}
.main-content{
    display: flex;
    flex-wrap: wrap
}
.main-elem{
    display: flex;flex-direction: column;
    align-items: center;
    margin: 30px 0 25px 0;
}
.main-elem h4{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    color: #373F41;
}
.main-elem p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    color: #373F41;

}