.header-menu{
    max-width: 1900px;
    margin: 0 auto;
    background-color: darkgray;
    height: 50px;
    margin-bottom: 40px;
}
.menu {
    display: flex;
    justify-content: space-around
}
.main-menu {
    list-style-type: none;
    text-align: center;
    color: #16a085;
    padding: 0;
    border: 1px solid  transparent;
}
.main-menu a {
    text-decoration: none;
    color:black;
    width: 100%;
    display: inline-block;
    font-size: 12px; 
    font-size: 18pt;    
}
.main-menu-active{
    background-color: #86ed64;
    padding: 7px 0px 13px 0px;
 
}
.main-menu:hover{
    background-color: #86ed64;
    padding: 7px 0px 13px 0px;
}