.wraper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin-bottom: 40px;
}
.input_header {
    width: 500px;
    height: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    border: 2px solid #323232;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left:30px;
}
.btn_heder{
    background: #EF781A;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    width: 98px;
    height: 50px;
    margin-left: 70px;
}
.btn_grin{
    background: #00D008;
    margin: 0;
}
.header_title{
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin: 75px 0 30px 100px;
    
}